<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p style="font-weight: bold">Olá, {{name}}!</p>
  <br/>
  <p>Recebemos uma solicitação de redefinição de senha para a sua conta de usuário.</p>
  <p>Se você reconhece essa solicitação, clique no link abaixo para escolher uma nova!</p>
  <p>
    <a href="{{link}}">Resetar Minha Senha!</a>
  </p>
  <p>Caso não reconheça, favor desconsiderar este email.</p>
  </br>
  <p>Obrigado. Atenciosamente, Suport API Vendas.</p>
</div>
